<script src="resources/js/controllers/auth/orgController.js"></script>
<div ng-controller="OrgController">
	<div id="orgList">
		<ol class="breadcrumb">
			<li><a href="#">首页</a></li>
			<li class="active">机构管理</li>
		</ol>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">组织机构</h3>
					</div>
					<div my-ztree ng-model="orgs"></div>
				</div>
			</div>
			<div class="col-xs-9">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">机构信息</h3>
						</div>
						<div class="panel-body">
							<form class="form-horizontal" role="search">
								<div class="form-group">
									<label for="orgCodeInput" class="col-sm-2 control-label">机构编码</label>
									<div class="col-sm-4">
										<p class="form-control-static">{{org.code}}</p>
									</div>
									<label for="orgNameInput" class="col-sm-2 control-label">机构名称</label>
									<div class="col-xs-4">
										<p class="form-control-static">{{org.name}}</p>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<ul tabset>
						<li tab heading="岗位" select="selectPosTab();">
							<table class="table table-striped">
								<tr>
									<th>序号</th>
									<th>名称</th>
									<th>描述</th>
									<th>员工</th>
									<th>操作</th>
								</tr>
								<tr ng-repeat="pos in posResult">
									<td>{{posResult.pagination.offset+$index+1}}</td>
									<td>{{pos.name}}</td>
									<td>{{pos.comment}}</td>
									<td><a href="#" class="btn btn-primary btn-xs"
										ng-click="viewEmpOfPos(pos)">
										<i class="glyphicon glyphicon-user"></i>
										</a></td>
									<td><a href="#" class="btn btn-primary btn-xs"
										ng-click="editPos(pos)"
										ng-show="isPermitted('position:edit')"><i class="glyphicon glyphicon-edit"></i></a> <a href="#"
										class="btn btn-danger btn-xs" ng-click="deletePos(pos)"
										ng-show="isPermitted('position:delete')"><i class="glyphicon glyphicon-trash"></i></a></td>
								</tr>
							</table>
						</li>
						<li tab heading="员工" select="selectEmpTab();">
							<table class="table table-striped">
								<tr>
									<th>序号</th>
									<th>姓名</th>
									<th>性别</th>
									<th>操作</th>
								</tr>
								<tr ng-repeat="emp in empResult.rows">
									<td>{{empolyee.pagination.offset+$index+1}}</td>
									<td>{{emp.name}}</td>
									<td>{{emp.sex}}</td>
									<td><a href="#" class="btn btn-primary"
										ng-click="editEmp(emp)"
										ng-show="isPermitted('user:edit')">编辑</a> <a href="#"
										class="btn btn-primary" ng-click="deleteEmp(emp)"
										ng-show="isPermitted('user:delete')">删除</a></td>
								</tr>
							</table>
						</li>
						<li class="pull-right">
							<span ng-show=" selected == 'pos' ">
								<button type="button" class="btn btn-sm btn-primary"
									ng-click="addPos()" ng-show="org && isPermitted('position:add')">添加岗位</button>
							</span>
							<span ng-show=" selected == 'emp' ">
								<button type="button" class="btn btn-sm btn-primary"
									ng-click="addEmp()" ng-show="org && isPermitted('user:add')">添加员工</button>
							</span>
						</li>
					</ul>
					</tabset>
				</div>
			</div>
		</div>
	</div>
</div>