<script src="resources/js/controllers/auth/roleController.js"></script>
<style>
<!--
.panel-heading .list-inline{
	margin-bottom:0px;
}
-->
</style>
<div ng-controller="RoleController">
	<div id="roleList">
		<ol class="breadcrumb">
			<li><a href="#">首页</a></li>
			<li class="active">角色管理</li>
		</ol>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<ul class="list-inline">
							<li>
								<h3 class="panel-title">角色列表</h3>
							</li>
							<li class="pull-right"><button type="button"
									class="btn btn-xs  btn-success" ng-click="addRole()"
									ng-show="isPermitted('role:add')">添加角色</button></li>
						</ul>
					</div>
					<div id="treeDemo" ng-model="roles" my-roletree></div>
				</div>
			</div>
			<div class="col-xs-9">
				<div class="row">
					<ul tabset>
						<li tab heading="菜单权限" select="selectFuncTab();">
							<table class="table table-striped">
								<tr>
									<th>序号</th>
									<th>名称</th>
									<th>描述</th>
									<th>员工</th>
									<th>操作</th>
								</tr>
								<tr ng-repeat="pos in posResult">
									<td>{{posResult.pagination.offset+$index+1}}</td>
									<td>{{pos.name}}</td>
									<td>{{pos.comment}}</td>
									<td><a href="#" class="btn btn-primary btn-xs"
										ng-click="viewEmpOfPos(pos)"> <i
											class="glyphicon glyphicon-user"></i>
									</a></td>
									<td><a href="#" class="btn btn-primary btn-xs"
										ng-click="editPos(pos)" ng-show="isPermitted('position:edit')"><i
											class="glyphicon glyphicon-edit"></i></a> <a href="#"
										class="btn btn-danger btn-xs" ng-click="deletePos(pos)"
										ng-show="isPermitted('position:delete')"><i
											class="glyphicon glyphicon-trash"></i></a></td>
								</tr>
							</table>
						</li>
						<li tab heading="用户" select="selectUserTab();">
							<table class="table table-striped">
								<tr>
									<th>序号</th>
									<th>姓名</th>
									<th>性别</th>
									<th>操作</th>
								</tr>
								<tr ng-repeat="emp in empResult.rows">
									<td>{{empolyee.pagination.offset+$index+1}}</td>
									<td>{{emp.name}}</td>
									<td>{{emp.sex}}</td>
									<td><a href="#" class="btn btn-primary"
										ng-click="editEmp(emp)" ng-show="isPermitted('user:edit')">编辑</a>
										<a href="#" class="btn btn-primary" ng-click="deleteEmp(emp)"
										ng-show="isPermitted('user:delete')">删除</a></td>
								</tr>
							</table>
						</li>
						<li class="pull-right"><span ng-show=" selected == 'user' ">
								<button type="button" class="btn btn-sm btn-primary"
									ng-click="addUser()" ng-show="role && isPermitted('user:add')">关联用户</button>
						</span></li>
					</ul>
					</tabset>
				</div>
			</div>
		</div>
	</div>
</div>