<form class="form-horizontal">
	<div class="form-group">
		<label for="orgNameInput" class="col-sm-2 control-label">角色名称</label>
		<div class="col-xs-10">
			<input type="text" class="form-control" ng-model="role.name"
				id="orgNameInput" placeholder="角色名称">
		</div>
	</div>
	<div class="form-group">
		<label for="shortNameInput" class="col-sm-2 control-label">角色描述</label>
		<div class="col-xs-10">
			<input type="text" class="form-control" ng-model="role.comment"
				id="shortNameInput" placeholder="角色描述">
		</div>
	</div>
	<div class="pull-right">
		<button type="button" class="btn btn-primary" ng-click="ok()">保存</button>
		<button type="button" class="btn btn-warning" ng-click="cancel()">关闭</button>
	</div>
	<div class="clearfix"></div>
</form>