<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bambooframework.dao.IOrgDao">
	<resultMap type="org.bambooframework.entity.Org" id="orgMap">
		<result column="ID_" jdbcType="VARCHAR" property="id"/>
		<result column="PARENT_ID_" jdbcType="VARCHAR" property="parentId"/>
		<result column="NAME_" jdbcType="VARCHAR" property="name"/>
		<result column="CODE_" jdbcType="VARCHAR" property="code"/>
		<result column="SORT_" jdbcType="INTEGER" property="sort"/>
		<result column="SHORT_NAME_" jdbcType="VARCHAR" property="shortName"/>
		<result column="STATUS_" jdbcType="VARCHAR" property="status"/>
	</resultMap>

	<insert id="insert" parameterType="org.bambooframework.entity.Org" keyProperty="id">
		insert into T_ORG(ID_,PARENT_ID_,NAME_,CODE_,SORT_,SHORT_NAME_,STATUS_)
		values(
			#{id,jdbcType=VARCHAR},
			#{parentId,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{sort,jdbcType=INTEGER},
			#{shortName,jdbcType=VARCHAR},
			#{status,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="update" parameterType="org.bambooframework.entity.Org">
		update T_ORG set 
			PARENT_ID_ = #{parentId,jdbcType=VARCHAR},
			NAME_ = #{name,jdbcType=VARCHAR},
			CODE_ = #{code,jdbcType=VARCHAR},
			SORT_ = #{sort,jdbcType=INTEGER},
			SHORT_NAME_ = #{shortName,jdbcType=VARCHAR},
			STATUS_ = #{status,jdbcType=VARCHAR}
		where id_ = #{id}
	</update>
	
	<update id="delete">
		update T_ORG set STATUS_ = '1' where ID_ = #{id}
	</update>
		
	<!-- 更新机构及子机构为删除状态 -->
	<update id="deleteCascade">
		update T_ORG set STATUS_ = '1' where ID_ = '${id}%'
	</update>	
	
	<!-- 更新机构排序  -->
	<update id="updateOrgSort">
		update T_ORG set SORT_=#{sort,jdbcType=INTEGER} where id_ = #{id} 
	</update>
	
	<select id="getMaxSort" resultType="int">
		select max(SORT_) from T_ORG where 1=1
			<if test="parentId == null">
			 	and PARENT_ID_ is null
			 </if>
			 <if test="parentId != null">
			    and PARENT_ID_ = #{parentId}
			 </if>
	</select>
	<select id="getMaxId" resultType="string">
		select max(ID_)	from T_ORG where 1=1
			 <if test="parentId == null || parentId == null">
			 	and PARENT_ID_ is null
			 </if>
			 <if test="parentId != null">
			  	and PARENT_ID_ = #{parentId}
			 </if>
	</select>
	
	<select id="get" resultMap="orgMap" parameterType="string">
		select  * from T_ORG where id_ = #{id}
	</select>
	
	<select id="selectOrgs" resultMap="orgMap" parameterType="map">
		select * from t_org
	</select>
	
	<select id="find" resultMap="orgMap" parameterType="map">
		select * from t_org
		<where>
			<if test="name != null">
				<bind name="namelike" value="name + '%'" />
				NAME_ like #{namelike}
			</if>
			<if test="parentId != null">
				and PARENT_ID_ = #{parentId}
			</if>
			<if test="status != null">
				and STATUS_ = #{status}
			</if>
			<if test="gtSort != null">
				and SORT_ > #{gtSort}
			</if>
		</where>
		order by SORT_
	</select>
</mapper>