<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bambooframework.dao.IRoleDao">
	<resultMap type="org.bambooframework.entity.Role" id="roleMap">
		<result column="ID_" jdbcType="INTEGER" property="id"/>
		<result column="CODE_" jdbcType="VARCHAR" property="code"/>
		<result column="NAME_" jdbcType="VARCHAR" property="name"/>
		<result column="COMMENT_" jdbcType="VARCHAR" property="comment"/>
	</resultMap>

	<insert id="insert" parameterType="org.bambooframework.entity.Role" keyProperty="id">
		insert into T_ROLE(ID_,CODE_,NAME_,COMMENT_)
		values(
			#{id,jdbcType=INTEGER},
			#{code,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{comment,jdbcType=VARCHAR}
		)
	</insert>
	<update id="update" parameterType="org.bambooframework.entity.Role">
		update T_ROLE set
			CODE_ = #{code,jdbcType=VARCHAR},
			NAME_ = #{name,jdbcType=VARCHAR},
			COMMENT_ = #{comment,jdbcType=VARCHAR}
		where ID_ = #{id}
	</update>
	
	<select id="get" parameterType="int" resultMap="roleMap">
		select * from t_role where ID_ = #{id}
	</select>
	<delete id="delete" parameterType="string">
		delete from t_role where ID_ = #{id}
	</delete>
	<select id="selectRolesOfUser" resultMap="roleMap" parameterType="string">
		select a.*
		from t_role a,t_user_role b
		where a.roleid = b.roleid
		and b.userid = #{userid}
	</select>
	
	<select id="find" parameterType="map" resultMap="roleMap">
		select * from t_role 
		<where>
			<if test="name != null">
				<bind name="namelike" value="name + '%'" />
				NAME_ like #{namelike}
			</if>
		</where>
	</select>
</mapper>